<% include ../partials/header %>

  <section>
    <div>
      <a href="/surveys/new">New Survey</a>
    </div>

    <div class="row">
      <% for ( let survey of surveys ) { %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Creator Name: <%= survey.creatorName %>
              </h5>

              <h5 class="card-title">
                Survey Name: <%= survey.surveyName %>
              </h5>

              <p>
                Description: <%= survey.description %>
              </p>

              <div class="actions">
                <a href="/surveys/<%= survey.id %>/respond" class="btn btn-primary">
                  Respond
                </a>
                <a href="/surveys/<%= survey.id %>" class="btn btn-primary">
                  Show
                </a>


                <a href="/surveys/<%= survey.id %>/edit" class="btn btn-primary">
                  Edit
                </a>

                <form action="/surveys/<%= survey.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this survey?');">
                  <input type="hidden" name="id" value="<%= survey.id %>">
                  <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% } %>

    </div>
  </section>

  <% include ../partials/footer %>
