<% include ../partials/header %>

  <section>
    <form action="/surveys/<%= survey.id %>/respond" method="post" novalidate enctype="multipart/form-data">
      <fieldset>
        <legend>
          <%= survey.surveyName %>
        </legend>
        <legend>
          <%= survey.creatorName %>
        </legend>
        <p>
          <%= survey.description %>
        </p>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="survey_description" name="description" placeholder="Greasy, black, vampires of the deep."
            required value="<%= survey.description %>">
        </div>
      </fieldset>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Survey</button>
      </div>
    </form>
  </section>

  <% include ../partials/footer %>